{% extends "_layouts/_master" %}

{% block content %}
	<article>
		<h1>{{ entry.title }}</h1>
		{% set featImage = entry.featuredImage.first() %}
		{% if featImage %}
			<img src="{{ featImage.getUrl('large') }}" alt="" />
		{% endif %}
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		{{ entry.body }}
	</article>
{% endblock %}
